In [1]:
import pandas as pd

In [2]:
# le o CSV
df = pd.read_csv('movies.csv', sep='|')

C:\Users\Rafaela\AppData\Local\Temp\ipykernel_7772\958808618.py:2: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('movies.csv', sep='|')

In [3]:
# Filtra os filmes dos gêneros que são extamente assim: "Drama,Romance" 
df_filtrado = df[df['genero'] == 'Drama,Romance']

In [6]:
# Verifica se o DataFrame filtrado está vazio, se estiver, printa a mensagem
if df_filtrado.empty:
    print("Nenhum filme encontrado com os gêneros especificados.")
else:
    # Senão realiza as operações seguintes:

    # Encontra o ano com o maior número de lançamentos de filmes
    ano_mais_lancamentos = df_filtrado['anoLancamento'].value_counts().idxmax()

    # Filtra o DataFrame para incluir apenas os filmes do ano com mais lançamentos
    df_ano_filtrado = df_filtrado[df_filtrado['anoLancamento'] == ano_mais_lancamentos]

    # Pega os IDs únicos dos filmes no DataFrame filtrado
    ids_filmes_unicos = df_ano_filtrado['id'].unique()

    print(df_ano_filtrado)
    
    # Exibe os IDs de todos os filmes únicos selecionados
    print("IDs dos 100 filmes selecionados (únicos):", ids_filmes_unicos)

    # Salva os IDs em um arquivo txt
    with open('ids_generos.txt', 'w') as f:
        for id_filme in ids_filmes_unicos:
            f.write(f'"{id_filme}",')

    # salva os filmes em um arquivo CSV
    df_ano_filtrado.to_csv('filtro_generos.csv', index=False)

                 id                         tituloPincipal  \
585629   tt10356932  Jilbab Traveler: Love Sparks in Korea
585630   tt10356932  Jilbab Traveler: Love Sparks in Korea
585631   tt10356932  Jilbab Traveler: Love Sparks in Korea
585632   tt10356932  Jilbab Traveler: Love Sparks in Korea
619857   tt11644218                      London Love Story
...             ...                                    ...
1025565   tt8835590                           Love Hunting
1034600   tt9257662                          Morning Trail
1034601   tt9257662                          Morning Trail
1034602   tt9257662                          Morning Trail
1034603   tt9257662                          Morning Trail

                                tituloOriginal anoLancamento tempoMinutos  \
585629   Jilbab Traveler: Love Sparks in Korea          2016          112
585630   Jilbab Traveler: Love Sparks in Korea          2016          112
585631   Jilbab Traveler: Love Sparks in Korea          2016          112
585632   Jilbab Traveler: Love Sparks in Korea          2016          112
619857                       London Love Story          2016           89
...                                        ...           ...          ...
1025565                           Love Hunting          2016           83
1034600                         Holechet Shiva          2016           90
1034601                         Holechet Shiva          2016           90
1034602                         Holechet Shiva          2016           90
1034603                         Holechet Shiva          2016           90

                genero  notaMedia  numeroVotos generoArtista  \
585629   Drama,Romance        6.0           28         actor
585630   Drama,Romance        6.0           28         actor
585631   Drama,Romance        6.0           28       actress
585632   Drama,Romance        6.0           28         actor
619857   Drama,Romance        7.2           65       actress
...                ...        ...          ...           ...
1025565  Drama,Romance        6.8           20       actress
1034600  Drama,Romance        6.5            7       actress
1034601  Drama,Romance        6.5            7         actor
1034602  Drama,Romance        6.5            7       actress
1034603  Drama,Romance        6.5            7         actor

                 personagem          nomeArtista anoNascimento anoFalecimento  \
585629                Ilhan       Giring Ganesha            \N             \N
585630                Alvin   Ringgo Agus Rahman          1982             \N
585631        Rania Samudra  Bunga Citra Lestari          1983             \N
585632            Hyun Geun           Morgan Oey            \N             \N
619857              Caramel     Michelle Ziudith            \N             \N
...                     ...                  ...           ...            ...
1025565  Shang Guang Xue Er            Bohan Jin            \N             \N
1034600                Ella             Miki Kam          1955             \N
1034601                Gabi         Robert Henig            \N             \N
1034602              Michal           Lior Bason            \N             \N
1034603                Amir           Omry Ashin            \N             \N

                           profissao  \
585629                         actor
585630                         actor
585631   actress,soundtrack,producer
585632              actor,soundtrack
619857            actress,soundtrack
...                              ...
1025565                      actress
1034600                      actress
1034601                        actor
1034602                      actress
1034603                        actor

                             titulosMaisConhecidos
585629              tt10356932,tt2455354,tt1748192
585630     tt7885874,tt1047634,tt1129952,tt2187578
585631     tt5514296,tt2589132,tt5946974,tt6825826
585632    tt14937912,tt8856944,tt5674378,tt6116856
619857   tt5785990,tt6486164,tt11708788,tt15724708
...                                            ...
1025565   tt8835580,tt22170804,tt8835722,tt8835590
1034600    tt0092678,tt9257662,tt0073052,tt0484339
1034601    tt9257662,tt0375058,tt9613332,tt5134724
1034602                                         \N
1034603   tt1778854,tt11300390,tt9257662,tt5134724

[1010 rows x 15 columns]
IDs dos 100 filmes selecionados (únicos): ['tt10356932' 'tt11644218' 'tt11656988' 'tt12498118' 'tt13231658'
 'tt1740495' 'tt1935089' 'tt2186712' 'tt2245924' 'tt2270456' 'tt2385126'
 'tt2515180' 'tt2547584' 'tt2674426' 'tt2707722' 'tt2787570' 'tt2931140'
 'tt3215826' 'tt3227442' 'tt3312884' 'tt3344694' 'tt3517044' 'tt3526416'
 'tt3530896' 'tt3530978' 'tt3548978' 'tt3581704' 'tt3584390' 'tt3675606'
 'tt3722726' 'tt3766366' 'tt3777860' 'tt3794028' 'tt3794392' 'tt3797868'
 'tt3840534' 'tt3920890' 'tt4024814' 'tt4047456' 'tt4061196' 'tt4109998'
 'tt4113916' 'tt4116388' 'tt4126694' 'tt4171876' 'tt4179950' 'tt4188654'
 'tt4193394' 'tt4262174' 'tt4262516' 'tt4291600' 'tt4305148' 'tt4327510'
 'tt4331970' 'tt4332342' 'tt4385026' 'tt4399594' 'tt4439194' 'tt4446472'
 'tt4462372' 'tt4495846' 'tt4551008' 'tt4568352' 'tt4579982' 'tt4581548'
 'tt4613254' 'tt4625334' 'tt4641478' 'tt4655294' 'tt4682786' 'tt4726166'
 'tt4746506' 'tt4805816' 'tt4828926' 'tt4837126' 'tt4842648' 'tt4842932'
 'tt4874298' 'tt4898726' 'tt4921812' 'tt4932154' 'tt4937518' 'tt4988692'
 'tt4996022' 'tt5002872' 'tt5011242' 'tt5011290' 'tt5012910' 'tt5025550'
 'tt5069012' 'tt5073620' 'tt5082662' 'tt5096628' 'tt5108912' 'tt5112054'
 'tt5123944' 'tt5143826' 'tt5152652' 'tt5159384' 'tt5160154' 'tt5174974'
 'tt5181502' 'tt5211596' 'tt5211710' 'tt5224814' 'tt5233410' 'tt5240732'
 'tt5253158' 'tt5271772' 'tt5275314' 'tt5281432' 'tt5307382' 'tt5312232'
 'tt5321816' 'tt5324962' 'tt5330644' 'tt5358948' 'tt5359624' 'tt5452814'
 'tt5468386' 'tt5486170' 'tt5498526' 'tt5500468' 'tt5509142' 'tt5511546'
 'tt5542470' 'tt5571230' 'tt5579684' 'tt5584426' 'tt5592228' 'tt5597452'
 'tt5599016' 'tt5604446' 'tt5615904' 'tt5665940' 'tt5670190' 'tt5687416'
 'tt5696096' 'tt5700648' 'tt5700962' 'tt5702600' 'tt5708800' 'tt5717110'
 'tt5719222' 'tt5721654' 'tt5732458' 'tt5741848' 'tt5742306' 'tt5751836'
 'tt5755796' 'tt5755912' 'tt5769516' 'tt5769916' 'tt5784778' 'tt5796478'
 'tt5796986' 'tt5804390' 'tt5812842' 'tt5813104' 'tt5819870' 'tt5831146'
 'tt5841956' 'tt5843056' 'tt5851030' 'tt5857918' 'tt5866732' 'tt5883008'
 'tt5883632' 'tt5885620' 'tt5889406' 'tt5891136' 'tt5904950' 'tt5912454'
 'tt5917118' 'tt5917958' 'tt5925180' 'tt5933608' 'tt5934922' 'tt5937802'
 'tt5944422' 'tt5946128' 'tt5968008' 'tt5974454' 'tt5975248' 'tt5999588'
 'tt6036428' 'tt6047852' 'tt6048582' 'tt6048828' 'tt6054290' 'tt6071568'
 'tt6074202' 'tt6088370' 'tt6091936' 'tt6102000' 'tt6121564' 'tt6123210'
 'tt6129730' 'tt6149804' 'tt6168298' 'tt6182402' 'tt6205538' 'tt6207962'
 'tt6209662' 'tt6215376' 'tt6229786' 'tt6242664' 'tt6274338' 'tt6283780'
 'tt6381764' 'tt6389310' 'tt6397242' 'tt6402466' 'tt6449114' 'tt6483040'
 'tt6582868' 'tt6768348' 'tt7032958' 'tt7308238' 'tt7360646' 'tt7370564'
 'tt7407098' 'tt7507402' 'tt7698812' 'tt7836584' 'tt7951786' 'tt8344230'
 'tt8483452' 'tt8620002' 'tt8750600' 'tt8835580' 'tt8835590' 'tt9257662']